site_name: Updates2MQTT
site_url: https://updates2mqtt.rhizomatics.org.uk
site_description: Notify and take action on server updates via MQTT, with HomeAssistant compatibility

repo_name: rhizomatics/updates2mqtt
repo_url: https://github.com/rhizomatics/updates2mqtt
edit_uri: edit/main/docs/

theme:
  name: material
  highlightjs: true
  logo: images/updates2mqtt-dark-256x256.png
  language: en
  icon:
    repo: fontawesome/brands/github
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.select
    - content.code.annotate 
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - toc.follow
    - toc.integrate
    - search.suggest
    - search
    - search.share
plugins:
  - search
  - htmlproofer:
      skip_downloads: True
  - autorefs
  - pagetree
  - optimize
  - mermaid2
  - tags:
      tags: false
  - meta-descriptions
  - minify:
      minify_html: true
  - coverage:
      page_path: developer/coverage
      html_report_dir: htmlcov

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - smarty
  - toc:
      permalink: true
  - sane_lists
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn 